body {
  overflow:scroll;
}
.wrapper, .sidebar {
      background-color: #D3D3D3;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    background-color: white;
    min-height: 400px;
}

/* removes margin from paragaphs*/
p {
  margin: 0 ;
}

pre {
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

code {
  max-height : 800px;
  width: 100%;
  overflow-x: scroll !important;
  overflow-y: scroll;

}

.view-container-render {
  display:none;
  max-height : 800px;
  width: 100%;
}

.generic-error {
  color: red;
}

.generic-message{
 color: green;  
}

iframe {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  overflow-x: scroll;
  overflow-y: scroll;

}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea {
    max-width: 280px;
}
textarea.larger {
    max-width: 100%;
    min-width: 100%;
    min-height:70px;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    background-color: gray;

}

.topbar {
  background-color: #4D4D4D;
  min-height: 50px;
}

nav img {
  padding:20px;
}
/*For bigger screens only*/

 @media(min-width:768px) {
   .body-content {
      margin-left: 260px;
      min-height: 400px;
   }

   nav:not(.sidebar){
      display: flex;
     }

  .sidebar {
      z-index: 1;
      position: absolute;
      width: 260px;
  }
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
