@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

@model OnlineMarkerCW.Models.Work
@using System.IO

@Html.DisplayForModel(@Model);

<div class="row">
    <div class="col-md-6">
        <h2>Rendered Coursework</h2>
        <iframe src="/ExampleWorkByStudent.html" sandbox width="100%" height="500px">If you're seeing this, your browser doesn't support iFrames</iframe>
    </div>
    <div class="col-md-6">
        <h2>Coursework Source Code</h2>
        <!-- If the model has just the file name: Html.Raw(File.ReadAllText(Server.MapPath(<htmlpath>))) -->
        <!-- Assuming we have the string of html, include the variable inside the thing below.-->
        <pre><code>
            @Html.Raw(Html.Encode("<h2>This is an example HTML coursework as if made by a student to be marked.</h2>"));
        </code></pre>
    </div>
</div>