@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h3>This application allows to submit and mark html code. Written using c# and asp.net mvc core by Martin and Rihards.</h3>

<p>We did not know what to esle to put into this section, so here is Bjarne Stroustrup talking about C++ for over an hour.  Warm cup of tea and an open mind highly recommended before clicking the play button.</p>

<div class="video-wrapper">
  <div class="video-frame">
<iframe src="https://www.youtube.com/embed/1OEu9C51K2A" frameborder="0" allowfullscreen></iframe>
</div>
</div>
