@{
    ViewData["Title"] = "Home Page";
}

<h1>Hey @ViewData["Name"], @ViewData["Welcome-Message"]</h1>
<p>and this is some content, </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br> here..!</p>
