@{
    ViewData["Title"] = "My Works";
}

<h1>Hey @ViewData["Title"]</h1>
 </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br> here..!
