@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewData["Title"] = "Login";
}


@model OnlineMarkerCW.ViewModels.LoginViewModel



<h1 class="login-heading"> <span> Please login <span></h1>
<form asp-controller="Account" asp-action="Login" method="post">
  <div class="center-block"><label asp-for="Email"></label></div>
  <div class="center-block"><input asp-for="Email" required/></div>
  <div class="center-block"><label asp-for="Password"></label></div>
  <div class="center-block"><input asp-for="Password" minlength="6" maxlength="100" required/></div>
  <div class="center-block"><input type="submit" value="Login" class="reg" /></div>
</form>
  <div asp-validation-summary="All" class="generic-error"></div>
  <a asp-controller="Account" asp-action="Register">Register First..</a>
