@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewData["Title"] = "Login";
}


@model OnlineMarkerCW.ViewModels.LoginViewModel

@*
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js">
</script>*@

<h1>Login</h1>
@using (Html.BeginForm("Login", "Account"))
{
    @Html.EditorForModel();
    <input type="submit" value="Login" />
    <br></br>
    @Html.ActionLink("Register First..", "Register", "Account")
    @Html.ValidationSummary()
}
@*
<form asp-controller="Account" asp-action="Login" method="post">
    <table>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td><label asp-for="RememberMe"></label></td>
            <td><input asp-for="RememberMe" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"
            value="Login" /></td>

        </tr>
    </table>
    <a asp-area="" asp-controller="" asp-action="Register"></a>
    <div asp-validation-summary="All"></div>
</form>
*@
